html, body {
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    text-align:center;
    color: #3B2D38;
}

a {
    color: #016633;
}

h1 {
    color: #016633;
    font-size: 32px;
}

div {

}

p {

}

ul{
    list-style-position: inside;
    list-style: none;
    margin: 0px;
    padding: 20px;
    height: 50vh;
    min-height: 400px;
    overflow: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #016633;
    margin-top: 20px;
}

li{
    position: relative;
    margin:0 0 15px 0;
}

#logPileDiv {
    display: inline-block;
    height: 80vh;
    width: 48vw;

}

#hayStackDiv {
    display: inline-block;
    height: 80vh;
    width: 48vw;

}

#claimButton {
    background-color: #016633;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #f1f1f1;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    min-height:8vh;
    min-width:24vw;
    vertical-align: middle;
}

#loginNotice {
    margin-top: 10vh;
    color: #ff0000;
    font-size: 48px;
    text-decoration: underline
}

#boxDiv {
    margin-top: 25px;
}